# Ambiente Virtual
.venv/
venv/
env/

# Dados (devem ser baixados separadamente)
# data/

# Modelos Salvos
models/

# Cache e arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos de IDE e SO
.vscode/
.idea/
.DS_Store